{% extends 'base.html' %}

{% block content %}

<body class="login-page">
    <div class="scroll-container">
    <div class="training-day-container">
        <h1>{{ training_day.get_day_display }}</h1>
        <p>{{ training_day.description }}</p>
        
        {% if training_day.exercises.count > 0 %}
        <h2>Exercises</h2>
        <div class="training-day-exercises">
            {% for exercise in training_day.exercises.all %}
            <div class="training-day-exercise">
                <h3>{{ exercise.name }}</h3>
                <p>{{ exercise.description }}</p>
                
                {% if exercise.photo %}
                <a href="#video-modal-{{ exercise.id }}" class="exercise-image">
                    <img src="{{ exercise.photo.url }}">
                </a>
                {% endif %}
                
                {% if exercise.video_file %}
                <div id="video-modal-{{ exercise.id }}" class="modal">
                    <div class="modal-content">
                        <a href="#" class="close">&times;</a>
                        <video controls>
                            <source src="{{ exercise.video_file.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No exercises assigned for this day.</p>
        {% endif %}
    </div>
</div>

    <script>
        document.querySelectorAll('.exercise-image').forEach(item => {
            item.addEventListener('click', function(event) {
                event.preventDefault();
                const modalId = this.getAttribute('href');
                const modal = document.querySelector(modalId);
                if (modal) {
                    modal.style.display = 'block';
                }
            });
        });

        document.querySelectorAll('.modal .close').forEach(item => {
            item.addEventListener('click', function() {
                const modal = this.closest('.modal');
                if (modal) {
                    modal.style.display = 'none';
                    
                    const video = modal.querySelector('video');
                    if (video) {
                        video.pause(); 
                        video.currentTime = 0;
                    }
                }
            });
        });
    
        window.addEventListener('click', function(event) {
            if (event.target.classList.contains('modal')) {
                event.target.style.display = 'none';
                const video = event.target.querySelector('video');
                if (video) {
                    video.pause();
                    video.currentTime = 0;
                }
            }
        });
    </script>
    
</body>
{% endblock %}