{% extends 'base.html' %}

{% block content %}
<!-- HOME -->
<section id="home" class="parallax-section">
    <div class="overlay"></div>
    <div class="container">
         <div class="row">

              <div class="col-md-8 col-sm-12">
                   <div class="home-text">
                        <h1>No pain, no gain!</h1>
                        <p>Start your journey to the best version of yourself today</p>
                        <ul class="section-btn">
                             <a href="#about" class="smoothScroll"><span data-hover="Discover More">Discover More</span></a>
                        </ul>
                   </div>
              </div>

         </div>
    </div>


    <video controls="" autoplay="" loop="" muted>
         <source src="/static/videos/video1.mp4" type="video/mp4">
         Your browser does not support the video tag.
    </video>
</section>


<!-- ABOUT -->
<section id="about" class="parallax-section">
    <div class="container">
         <div class="row">

              <div class="col-md-offset-1 col-md-10 col-sm-12">
                   <div class="about-info">
                        <h3>Ultimate Training Partner</h3>
                        <h1>Dive into bodybuilding with us, discover nutrition tips, and stay motivated as you work towards the body you’ve always dreamed of. With Muscle Buddy, every rep counts, and every step brings you closer to success</h1>
                   </div>
              </div>

         </div>
    </div>
</section>


<!-- PROJECT -->
<section id="project" class="parallax-section">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-6">
                   <!-- PROJECT ITEM -->
                   <div class="project-item">
                        <a href="{% url 'preferences' %}">
                             <img src="/static/images/workout_plan.webp" class="img-responsive" alt="">
                        
                             <div class="project-overlay">
                                  <div class="project-info">
                                       <h1>Workout plan</h1>
                                       <h3>Click to create</h3>
                                  </div>
                             </div>
                        </a>
                   </div>
              </div>

              <div class="col-md-6 col-sm-6">
                   <!-- PROJECT ITEM -->
                   <div class="project-item">
                        <a href="{% url 'nutrition_calculator' %}">
                             <img src="/static/images/diet.jpg" class="img-responsive" alt="">
                        
                             <div class="project-overlay">
                                  <div class="project-info">
                                       <h1>Meal plan</h1>
                                       <h3>Click to create</h3>
                                  </div>
                             </div>
                        </a>
                   </div>
              </div>

              <div class="col-md-6 col-sm-6">
                   <!-- PROJECT ITEM -->
                   <div class="project-item">
                        <a href="{% url 'useful_materials' %}">
                             <img src="/static/images/gym_tips.webp" class="img-responsive" alt="">
                        
                             <div class="project-overlay">
                                  <div class="project-info">
                                       <h1>Useful materials</h1>
                                       <h3>Click to explore</h3>
                                  </div>
                             </div>
                        </a>
                   </div>
              </div>

                          

         </div>
    </div>
</section>




{% endblock %}
